<div class="bg-slate-300 mt-10 shadow-lg rounded-lg p-6 mb-6 max-w-3xl mx-auto">
  <h1 class="text-3xl font-bold text-gray-900 mb-4 text-center">
    <%= @post.title %>
  </h1>

  <div class="text-gray-600 mb-4 flex flex-col items-center">
    <strong class="font-semibold">Por <%= @post.author %></strong>
    <span class="text-sm text-gray-500"><%= l @post.created_at, format: :long %></span>
  </div>

  <p class="text-gray-800 leading-relaxed text-center">
    <%= @post.body.gsub("\n", "<br>").html_safe %>
  </p>
</div>

<div class="m-5 max-w-3xl mx-auto">
  <div class="text-center font-bold mb-4">
    <h4>
      <% if @post.comments.count.zero? %>
        <span class="bg-green-100 text-green-800 px-3 py-1 rounded-md text-xs font-semibold">Seja o primeiro a comentar</span>
      <% end %>
      <%= pluralize(@post.comments.count, 'comentários') %>
    </h4>
  </div>




  <%= form_with model: @comment, local: true do |form| %>
  <%= form.hidden_field :post_id, value: @post.id %>
    <div class=" space-y-6 flex flex-col">
      <div class="bg-gray-100 p-6 rounded-lg shadow-md">
        <div class='flex flex-col '>
        <div class="mb-4">
          <%= form.label :author, class: 'block text-gray-700 text-sm font-medium mb-2' %>
          <%= form.text_field :author, class: 'block w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>

        <div class="mb-4">
          <%= form.label :Comentário, class: 'block text-gray-700 text-sm font-medium mb-2' %>
          <%= form.text_area :body, class: 'block w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>
        </div>

        <div class="text-start">
          <%= form.submit 'Enviar', id: 'submit-button', class: ' bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-150 ease-in-out', data: { disable_with: 'Enviando...' } %>
        </div>
      </div>
      
    </div>
    
  <% end %>
  
</div>

<div class='space-y-6 mb-2 mt-2'>
  <% @comments.each do |comment| %>
    <div class='bg-slate-300 shadow-md rounded-md p-4 max-w-3xl mx-auto mb-4'>
      <div class='flex justify-between items-center mb-4'>
        <div class='font-semibold text-gray-900'>
          <%= comment.author %>
        </div>
        <div class='text-gray-500'>
          <em class='bg-slate-200 hover:bg-slate-600 hover:text-blue-700 font-bold rounded px-2 py-1 transition-colors duration-200'>
            <%= time_ago_in_words(comment.created_at) %> 
          </em>
        </div>
      </div>
      <div class='text-gray-800 leading-relaxed'>
        <%= sanitize(comment.body.gsub("\n", "<br>")).html_safe %>
      </div>
    </div>
  <% end %>
</div>
